<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shows!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Shows</h1>
        <small>Last updated {{updated}}</small>
        <div>
            <input id="filterInput" type="text" class="form-control" placeholder="Search..." autocomplete="off"
                onkeyup="filterHandler()">
        </div>

        <div class="p-1">
            <a id="btn-recent" class="btn btn-sm btn-success" onclick="toggleLatest()">Recently Updated</a>
            <small class="float-end">
                <i class="fa p-1 bg-info">&nbsp;&nbsp;</i> Updated
                <i class="fa p-1 bg-success">&nbsp;&nbsp;</i> New
            </small>
        </div>

        <table id="shows-table" class="table table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-5">Date</th>
                    <th class="col-4">Lineup</th>
                    <th class="col-3">Venue/Price</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                {% if show.date %}
                <tr class="d-flex {% if show.bgColor %}{{show.bgColor}}{% endif %}" data-index-text="{{show.indexText}}"
                    data-latest="{{show.bgColor}}">
                    <td class="col-5">{{ show.date }}</td>
                    <td class="col-4">{{ show.headliner }}{% if show.support %} w/ {{show.support}} {% endif %}</td>
                    <td class="col-3">
                        {{ show.venue }} {{ show.price }} {% if show['masquerade presents?'] == 'Y' %}(M){% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <footer>&copy; 2024</footer>
        <br>
        <ul>
            <li style="opacity:0.4"><a href="https://gitlab.com/joewright/shows">Source code for this scraper</a></li>
            <li style="opacity:0.1"><a rel="me" href="https://bsky.app/profile/joewrong.bsky.social">Bsky</a></li>
        </ul>
    </div>

    <script>

        function filterHandler() {
            var input = document.getElementById("filterInput");
            var filter = input.value.toUpperCase();
            var table = document.getElementById("shows-table");
            var tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (var i = 0; i < tr.length; i++) {
                var thisTR = tr[i];
                var txtValue = thisTR.getAttribute('data-index-text');
                if (!txtValue) {
                    continue;
                }
                if (filter && txtValue.toLowerCase().indexOf(filter.toLowerCase()) === -1) {
                    thisTR.style.visibility = "hidden";
                    thisTR.style.height = "0";
                } else {
                    thisTR.style.visibility = "";
                    thisTR.style.height = "";
                }
            }
        }

        var latestToggled = true;
        function toggleLatest(evt) {
            var btn = document.getElementById("btn-recent");
            var table = document.getElementById("shows-table");
            var tr = table.getElementsByTagName("tr");

            btn.innerText = latestToggled ? "Show All" : "Recently Updated";

            for (var i = 1; i < tr.length; i++) {

                var thisTR = tr[i];
                var latestValue = thisTR.getAttribute('data-latest');
                toggleClass(thisTR, latestValue);

                if (latestToggled && !latestValue) {
                    thisTR.style.visibility = "hidden";
                    thisTR.style.height = "0";
                } else {
                    thisTR.style.visibility = "";
                    thisTR.style.height = "";
                }
            }

            latestToggled = !latestToggled;
        }

        function toggleClass(el, value) {
            if (el.className.includes(value)) {
                el.className = el.className.replace(value, '');
            } else if (value) {
                el.className += value;
            }
        }
    </script>

</body>

</html>